/* Reset do CSS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
/* Classes Globais */

  /* Centraliza o elemento no meio da tela */
.conteudo{
    width: 1300px;
    height: inherit ;
    padding-top: 10px
}
/* Centraliza o Objeto */
.centerObject{
    margin-left: auto;
    margin-right: auto;
}
p{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 22px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-spacing: 0.6px;
    
}
h1, h2, h5{
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 28px;
    color: #000000;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
    letter-spacing: 1px;
    text-align: left;
}
h2{
    font-size: 22px;
}
h5{
    font-size: 16px;
    text-align: left;
    color: #ad03fc;
    padding-right: 15px;
}
/* ajusta o tamanho do texto na div */
.alturaAutomatica {
    height: auto;
}
/* Import font para o site */
@font-face{
    font-family: OpenSans;
    src: url(../fontes/OpenSans-Bold.ttf);
}
a:link, a:visited, a:active{
    text-decoration: none;
    color:#000000;
}
/* Deixa o menu fixo */
.fixo{
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;   
}
.fixo:hover{
    
    transition: 0.8s;
    height: 80px;
}
.backgroundImg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 150px;
}
.arquiteturaImg{
    background-color: #454545;
    background-repeat: no-repeat;
    background-position: center;
}

/* Seção cabeçalho e menu */
.header{
    width: 100%;
    height: 90px;
    background-color: #000000;
    
}
.logo{
    width: 400px;
    height: 75px; 
    
}
.menuContainer{
    width: 100%;
    height: 80px; 
    background-color: #fff;
}
.divMenu{
    width: 600px;
    height: 60px; 
    
}
.menu{
    width: 700px;
    height: 60px;
    float: left;
    padding-left: 140px;
   
}
.menuItens{
    width: 100px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    padding-top: 15px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #000000;
    float: left;
    list-style: none; 
}
.menuItens:hover{
    background-color: #ad03fc;
    cursor: pointer;
    color: #fff;
    border-radius:  20px;
    transition: 0.3s;
    /* padding-left: 250px; */
}
.menuContainerArtigo{
    width: 100%;
    height: 80px; 
    background-color: #fff;
}
.divMenuArtigo{
    width: 600px;
    height: 60px; 
    
}
.menuArtigo{
    width: 500px;
    height: 60px;
    float: left;
    padding-left: 150px;
   
}
.menuItensArtigo{
    width: 300px;
    height: 50px;
    margin-right: 5px;
    text-align: center;
    padding-top: 15px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #000000;
    float: left;
    list-style: none; 
}
.menuItensArtigo:hover{
    background-color: #ad03fc;
    cursor: pointer;
    color: #fff;
    border-radius:  20px;
    transition: 0.3s;
    /* padding-left: 250px; */
}


/* Seção background da home */
#bannerHomePage{
    width: 100%;
    height: 600px;
    background-image: url(../imagens/banner.jpg);
}

/* Seção informações sobre o site */
#infoSite{
    width: 100%;
    height: 500px;
    padding-top: 170px;
    background-color: #fff;
}
#divInfo{
    width: 1300px;
    height: 400px;
}
#textoInfo{
    width: 600px;
    height: 250px;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#textoInfo p{
    color: black;    
}

#textoInfo a{
    color:#ad03fc;    
}
#imgInfo{
    width: 500px;
    height: 400px;
    background-color: #fff;
    float: right;
    margin-right: 100px;
    background-image: url(../imagens/logovetor.png);
}
#imginfo img{
    width: 450px;
    height: 250px;
}

/* Seção dos artigos */
#artigoSite{
    width: 100%;
    height: 600px;
    padding-top: 170px;
    background-color: #fff;
}
#divArtigos{
    width: 1300px;
    height: 400px;
    padding-left: 30px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.artigos{
    width: 220px;
    height: 275px;
    margin-left: 30px;
    float: left ;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;    
}
.artigos h2{
    text-align: center;
}
.imgArtigos{
    width: 100%;
    height: 150px;
    background-color: black; 
    margin-bottom: 5px;
}
.imgArtigos img{
    width: 100%;
    height: 100%;
}

/* Seção do rodapé */
.rodape{
    width: 100%;
    height: 175px;
    background-color: black;
    padding-top: 10px;   
}
.botoesRodape{
    width: 650px;
    height: 60px;
}
.menuRodape{
    width: 650px;
    height: 60px;
}
.menuItensRodape{
    width: 200px;
    height: 50px;
    margin-right: 15px;
    text-align: center;
    padding-top: 15px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    float: left;
    list-style: none;
}
.menuItensRodape a{
    color: #fff;
}
.menuItensRodape:hover{
    background-color: #ad03fc;
    cursor: pointer;
    color: #fff;
    border-radius:  20px;
    transition: 0.3s;
}
.logo img{
    width: 400px;
    height: 60px;
}


/* Seção do conteudo da pagina "Artigos"  */
#divListaArtigos{
    width: 100%;
    height: 1600px;
    background-color: #fff;
    padding-top: 150px;
}
#listaArtigos{
    width: 1300px;
    height: 1350px;
    background-color: #fff;
    padding-left: 20px;
    margin-top: 50px;
}
.topicos{
    width: 1250px;
    height: 250px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    float: inline-end;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 10px;
}
.imgTopicos{
    width: 375px;
    height: 200px;
    float: left;
}
.imgTopicos img{
    width: 375px;
    height: 200px;
}
.textoTopicos{
    width: 800px;
    height: 200px;
    float: right;
    /* padding-right: 250px; */
   
}

/* Seção do conteudo da pagina "Quem Somos" */

#divExterna_quemSomos{
    width: 100%;
    height: 800px;
    background-color: #fff;
    padding-top: 100px;
    
}

#quemSomos{
    width: 1300px;
    height: 600px;
    background-color: #fff;
    margin-top: 80px;
}

#quemSomos h1{
    width: 1200px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.1);  
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    padding-top: 20px;
    border-radius: 10px;
}
#textoQuemSomos{
    width: 1200px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.1);  
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    padding-top: 20px;
    border-radius: 10px;
}

/* Seção do conteudo da pagina "Equipe" */

#divExterna_equipe{
    width: 100%;
    height: 1900px;
    background-color:#fff;
    padding-top: 100px;
}
#equipe{
    width: 1300px;
    height: 1400px;
    background-color: #fff;
    margin-top: 80px;
    padding-left: 25px;
}
#equipe h1{
    width: 1250px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.1);  
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.membrosDaEquipe{
    width: 1250px;
    height: 300px;
    margin-bottom: 10px;
    background-color: #fff ;
    float: inline-end;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 35px;
}
.fotoMembros{
    width: 250px;
    height: 250px;
    float: left;
    background-color: #fff;
    border: solid 4px #ad03fc ;
    border-radius: 25px;
    border-radius: 50%;
    
    
}
#ricardo{
    background-size: 250px 250px;
    background-image: url(../imagens/fotoRicardo.jpg) ;
}
#bianca{
    background-size: 250px 250px;
    background-image: url(../imagens/fotoBianca.jpg);
}
#lorrana{
    background-size: 250px 250px;
    background-image: url(../imagens/fotoLorrana.jpg);
}
#vinicius{
    background-size: 250px 250px;
    background-image: url(../imagens/fotoVinicius.jpg);
}
#ana{
    background-size: 250px 250px;
    background-image: url(../imagens/fotoAna.jpg);
}


.sobreEquipe{
    width: 900px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.1) ;
    float: right;
    padding-top: 15px;
    border: solid 3px rgba(0, 0, 0, 0.1) ;
    border-radius: 10px;
}

.sobreEquipe h2{
    width: 300px;
    height: 70px;
    padding-top: 20px;
    text-align: center;
    
}
.sobreEquipe h5{
    width: 500px;
    height: 40px;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

/* Seção do conteudo da pagina "Fale conosco*/

#divExterna_faleConosco{
    width: 100%;
    height: 950px;
    background-color: #fff;
    padding-top: 100px;
    
}
#faleConosco{
    width: 1300px;
    height: 800px;
    margin-top: 80px;
    background-color: #fff;
    padding-left: 25px;
}
#faleConosco h1{
    width: 1250px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.containerInfo{
    width: 1250px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.1) ;
    padding-top: 15px;
    border: solid 3px rgba(0, 0, 0, 0.1) ;
    border-radius: 10px;
    padding: 15px;
}

.containerInfo h2{
    width: 225px;
    height: 100px;
    float: left;
    padding-top: 30px;
}
.div_info{
    width: 700px;
    height: 100px;

    float: inline-end;
}
.listFaleConosco{
    width: 400px;
    height: 100px;
    padding-top: 15px;
    padding-left: 15px;
    list-style: none;
    font-family: "Open Sans",Arial,sans-serif ;
    font-size: 22px;
    float: left;
}

/* Arquitetura dos sistemas */

#bannerArquiteturaSOP{
    width: 100%;
    height: 600px;
    background-image: url(../imagens/SOP.jpg);
}

#topic1{
    width: 100%;
    height: 300px;
    background-color: #fff;
    padding-top: 50px;
}
#definicao{
    width: 1300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);

}
#definicao h1{
    text-align: center;
}


#topic2{
    width: 100%;
    height: 1850px;
    background-color: #fff;
}
#historia{
    width: 1300px;
    height: 1800px;
    background-color: rgba(0, 0, 0, 0.1);
}

#historiaimg{
    width: 100%;
    height: 325px;
    background-image: url(../imagens/historiaSOP.jpg);
}

#topic3{
    width: 100%;
    height: 1250px;
    background-color: #fff;
}

#classificacaoSOPIMG{
    width: 100%;
    height: 200px;
    background-image: url(../imagens/classificacaoSOP.jpg);
}
#classificacao{
    width: 1300px;
    height: 1200px;
    background-color: rgba(0, 0, 0, 0.1);
}
.listStyle{
    width: 1250px;
    height: 180px;
    padding-top: 20px;
    padding-left: 45px;
    list-style-type: none ;
    font-family: "Open Sans",Arial,sans-serif ;
    font-size: 22px;
    line-height: 1.7;
}
#gerenciadorDeProcessosImg{
    width: 100%;
    height: 200px;
    background-image: url(../imagens/gerenciadorDeProcessos.jpg);
}
#topic4{
    width: 100%;
    height: 500px;
    background-color:#fff;
}
#gerenciadorDeProcessos{
    width: 1300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.1);
}
#sistemaDeArquivosImg{
    width: 100%;
    height: 200px;
    background-image: url(../imagens/sistemaDeArquivos.jpg);
}
#topic5{
    width: 100%;
    height: 800px;
    background-color: #fff;
}
#sistemaDeArquivos{
    width: 1300px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.1);
}
#sistemaDeArquivos h2{
    padding-left: 45px;

}
/*  Linha 1 a 615
    Desenvolvedora: Bianca Giovanna
    biancagothicg@gmail.com
    https://github.com/biancagothic892
*/


/* Vinicius */

.content01, content02{
    /*Caixa de conteudo para 3 colunas*/
    width: 100%;
    height: 900px;
    background-color: white;
}
.content02{
        /*Caixa de conteudo para 4 colunas*/
    height: 1200px;
    background-color: white;
}
.content03{
    /*Caixa de conteudo para 4 colunas*/
height: 1100px;
background-color: white;
}


.divisionColumn01, divisionColumn02, divisionColumn03, divisionColumn04, divisionColumn05{
    /*Classe para criar 3 colunas no espaço inteiro da caixa de conteudo*/
    width: 400px;
    height: 700px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
}
.divisionColumn02{
    /*Classe para criar 3 colunas no espaço considerável da caixa de conteudo, sobrando para uma imagem etc*/
    height: 430px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.divisionColumn03{
    /*Classe para criar 4 colunas no espaço inteiro da caixa de conteudo*/
    width: 300px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #fff;
}
.divisionColumn04{
    /*Classe para criar 4 colunas na metade da caixa de conteudo, sobrando para uma imagem etc*/
    width: 300px;
    height: 500px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    float: left;
        
}
.divisionColumn05{
    /*Classe para criar 4 colunas no espaço considerável da caixa de conteudo, sobrando para uma imagem etc*/
    width: 300px;
    height: 230px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 25px;
    margin-top: 10px;
    background-color: white;
    float: left;
}

.imagesHor{
    /*Classe para inserção de uma imagem horizontal*/
    width: 1000px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 300px;
    background-color: white;
    clear: both;
    
}

/* Ricardo */
.bannerSopCO{
    width: 100%;
    height: 760px;
    background-image: url(../imagens/bannerSopCodigoFechado.jpg);
    
}
.imagemTexto{
    
    width: 100%;
    height: 200px;
    border-radius:30px;
}

.imageHor{
    width: inherit;
    height: inherit;
    border-radius:30px;
}

.listTopic{
    
    list-style: disc;
    list-style-position: inside;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:1px;
    padding-bottom: 5px;
    margin-top: 15px;
}

.bold{
    
    font-weight: bold;
}

.imagemExemplo{
    
    width: 100%;
    height: 305px;
}

.imagemTexto2{
    
    width: 100%;
    height: 200px;
    
}

.infoImage{
    width: inherit;
    height: inherit;
}

/*
RICARDO TEIXEIRA LIMA
Email: ricardolima26082003@gmail.com
linkedin: Ricardolima

*/

/*Lorrana Santos*/
#bannerEditorTexto{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 50px;
}
#imgEditorTexto{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
    padding-right: 50px;
}
#imgMenuDoEditor{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px ;
}
.topicInfo{
    list-style: disc;
    list-style-position: inside;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
#bigLetter{
    font-size:20px;
}
#bald{
    font-weight: bold;
}
#italico{
    font-style: italic;
}
#sublinhar{
    text-decoration: underline;
}
#taxar{
    text-decoration: line-through;
}
#subscrito{
    font-size: 10px;
}
#glow{
    text-shadow: 3px 3px 5px #4cbaf5;
}
.divisionColumn01 h1{
    text-align: center;
}
/*
    Lorrana Santos Silva
    email e linkedin: lorrana.silva.santos@hotmail.com
    github: lorranasantos
*/

/*Vinicius Jesus*/
#bannerExcel{
    width: 100%;
    height: 600px;
    background-image: url(../imagens/bannerExcel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-attachment: fixed;
    padding-top: 150px;
}
#excel{
    width: 100%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
}
#excelTexto, excelImg{
    width: 600px;
    min-height: 650px;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 25px 25px 25px 25px;
    background-color: rgba(0, 0, 0, 0.1);
}
#excelTexto ul{
    margin-left: 10px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#excelImg{
    width: 600px;
    height: 650px;
    background-image: url(../imagens/ImgExcel01.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-top: 75px;
    margin-left:25px;
}

#criarPlanilha{
    width: 100%;
    min-height: 600px;
    height: auto;
    overflow: hidden;
    background-color: #026F39;
}
.criarPlanilhaTexto, criarPlanilhaPassos{
    width: 100%;
    min-height: 180px;
    height: auto;
    overflow: hidden;
    background-color: rgba(222, 219, 211, 0.5);
    margin-bottom: 25px;
}
#criarPlanilhaImg{
    width: 620px;
    min-height: 235px;
    height: auto;
    overflow: hidden;
    border: solid 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url(../imagens/ImgCriarPlanilha01.jpg);
}
.criarPlanilhaPassos{
    width: 300px;
    margin-left: 12px;
    margin-right: 12px;
    float: left;
    border: solid 1px;
}
#formatarPlanilha{
    width: 100%;
    min-height: 800px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
}
#formatarTexto, formatarImg01{
    width: 600px;
    min-height: 350px;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 25px 25px 25px 25px;
    background-color: rgba(0, 0, 0, 0.1);
}
#formatarImg01{
    width: 600px;
    height: 350px;
    float: left;
    background-image: url(../imagens/ImgFormatar01.png);
    background-size: contain;
    margin: 25px 25px 25px 25px;
}
#formatarDesign{
    width: 100%;
    min-height: 400px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
}
.formatarEstilos{
    width: 400px;
    min-height: 400px;
    height: auto;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.1);
   
}
.formatarEstilos ul{
    margin-left: 10px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#formatarImg02{
    width: 768px;
    min-height: 362px;
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-image: url(../imagens/ImgFormatar02.jpg);  
}
#entradaDados{
    width: 100%;
    min-height: 600px;
    height: auto;
    overflow: hidden;
    overflow: hidden;
    background-color: #026F39;
}
#entradaTexto01{
    width: 1300px;
    min-height: 200px;
    height: auto;
    overflow: hidden;
    background-color: rgba(222, 219, 211, 0.5);
    margin-bottom: 10px;
}
#entradaTexto02{
    width: 625px;
    min-height: 350px;
    height: auto;
    overflow: hidden;
    background-color: rgba(222, 219, 211, 0.5);
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}
#entradaTexto02 ol{
    margin-left: 10px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.negritoEntrada{
    font-weight: bold;
}
#entradaImg{
    width: 370px;
    min-height: 300px;
    height: auto;
    overflow: hidden;
    float: left;
    background-image: url(../imagens/ImgDados.jpg);
    background-size: contain;
    margin-top: 25px;
    margin-left: 130px;
    margin-right: 25px;
    margin-bottom: 25px;
}
#funcao{
    width: 100%;
    min-height: 550px;
    height: auto;
    overflow: hidden;
}
#funcaoTexto01{
    width: 750px;
    min-height:350px;
    height: auto;
    overflow: hidden;
    float: left;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 25px 25px 25px 25px;
} 
#funcaoImg{
    width: 350px;
    min-height:350px;
    height: auto;
    overflow: hidden;
    float: right;
    background-image: url(../imagens/ImgFuncao01.jpg);
    margin: 25px 100px 25px 25px;
}
#funcaoTexto02{
    clear: both;
    width: 1300px;
    min-height:200px;
    height: auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}
#criarGrafico{
    width: 100%;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    background-color: #026F39;
}
#graficoTexto{
    width: 1300px;
    min-height:400px;
    height: auto;
    overflow: hidden;
    background-color: rgba(222, 219, 211, 0.5);
    margin-bottom: 25px;
}
#graficoTexto ol{
    margin-left: 10px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#graficoImg{
    width: 500px;
    min-height: 300px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagens/ImgGrafico01.jpg);
}
#imprimir{
    width: 100%;
    min-height: 600px;
    height: auto;
    overflow: hidden;
}
#imprimirTexto{
    width: 1300px;
    min-height: 250px;
    height: auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}
#imprimirPassos{
    width: 100%;
    min-height: 350px;
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}
.imprimirColunas{
    width: 400px;
    min-height: 350px;
    height: auto;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.1);
}
.imprimirColunas ol{
    margin-top: 20px;
    margin-left: 10px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*  Desenvolvedor: Vinicius de Jesus 
    e-mail:viniciusjetmax@gmail.com
    https://github.com/viniciusprog777
*/
